.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #ffffff !important;
  opacity: 0.6 !important;
}

.swiper-pagination-bullet-active {
  width: 32px !important;
  border-radius: 999px !important;
  background: #facc15 !important;
  opacity: 1 !important;
}



